/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alata&display=swap");

:root {
  --darkBlue: #213448;
  --lightBlue: #547792;
  --white: #ffffff;
  --lightGray: #f5f5f5;
  --primary-color: #2563eb;
  --texto-azul: #213448;
  --secondary-color: #547792;
  --tertiary-color: #94a6c1;
  --quaternary-color: #ecefca;

  /*-------------------Padding botones----------------------*/
  --high-button: 12px;
  --broad-button: 24px;

  /*----------------Tamaño de Tipografía--------------------*/
  --h1-size: 28px; /* Títulos principales */
  --h2-size: 24px; /* Subtítulos */
  --h3-size: 20px; /* Labels destacados */
  --h4-size: 18px; /* Labels de inputs */
  --h5-size: 16px; /* Texto dentro de inputs */
  --h6-size: 14px; /* Botones secundarios y detalles menores */

  --pL-size: 16px; /* Párrafos grandes */
  --pM-size: 14px; /* Texto normal */
  --pS-size: 12px; /* Texto de ayuda */

  --label: 16px;
  --error-size: 14px;
  --principal-text: 60px;
  /* --background: #94b4c1; */
  --background: #f0f9ff;
}

body {
  font-family: "Alata", sans-serif;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  display: grid;
  grid-template-columns: 90px auto;
  transition: all 0.3s ease;
  flex: 1;
  min-height: calc(100vh - 29px);
}

@media (max-width: 768px) {
  .main {
    display: block;
    grid-template-columns: none;
  }

  .content-area {
    grid-column-start: unset;
    width: 100%;
    margin-left: 50px; /* Adjusted for mobile */
  }

  .content-area.no-margin {
    margin-left: 0 !important;
  }

  .sidebar {
    position: fixed;
    transition: all 0.4s ease;
    z-index: 1000;
    bottom: 0; /* Asegura que el sidebar llegue al fondo de la pantalla */
  }

  .sidebar.active {
    left: 0; /* Muestra el sidebar */
    width: 250px; /* Ancho expandido */
  }

  /* Overlay para el fondo oscuro */
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none; /* Inicialmente oculto */
  }

  .sidebar-overlay.active {
    display: block; /* Muestra el overlay cuando el sidebar está activo */
  }
}

.main.active {
  grid-template-columns: 200px auto;
}

.content-area {
  grid-column-start: 2;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--lightGray);
  /*padding-bottom: 29px;*/
}

h1 {
  color: #003f83;
}
