.option-add-tutor {
  width: 280px;
}

.option-add-tutor > p {
  text-decoration: underline;
  color: var(--primary-color);
}

.option-add-tutor > p:hover {
  color: #000;
}

.container-btn-modal-tutor {
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;
}

.btn-modal-tutor {
  width: 130px;
}
