.config-input {
  display: grid;
}

.config-input,
.config-input > label,
.config-input > input,
.config-input > textarea,
.config-input > select {
  font-size: var(--label);
  margin-bottom: 5px;
  padding: 5px 0px;
}

.config-input > input,
.config-input > textarea,
.config-input > select {
  border-radius: 5px;
  font-size: var(--pL-size);
  padding: 10px;
  resize: none;
  border: 1px solid #000;
}

.error-validation {
  background-color: #ffebee;
  border-left: 4px solid #f44336;
  padding: 10px;
  border-radius: 4px;
  color: #d32f2f;
}

.mandatory {
  color: red;
}

.btn-autofill {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  padding: 5px;
}

@media (max-width: 435px) {
  .config-input > input,
  .config-input > textarea,
  .config-input > select {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .config-input > input,
  .config-input > textarea,
  .config-input > select {
    font-size: 12px;
  }
}
