footer {
  height: 29px; /* Ajusta la altura según tus necesidades */
  position: fixed;
  bottom: 0;
  left: 0; /* Asegúrate de que el footer comience desde el borde izquierdo */
  right: 0; /* Asegúrate de que el footer se extienda hasta el borde derecho */
  width: 100%;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden; /* Asegúrate de que el contenido no se desborde */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
