.footerMain {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkBlue);
  color: white;
  flex-wrap: wrap;
}

.footerColumn {
  flex: 1 1 30%;
  margin: 1rem;
}

.footerColumn h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footerColumn p {
  margin: 0.2rem 0;
}

.socialIcons a {
  color: white;
  font-size: 1.4rem;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.socialIcons a:hover {
  color: #ffcc00;
}
