.dashboard-container {
  padding: 2rem;
  background-color: #a2bfcb;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: black;
}

.dashboard-header h1 {
  font-size: 2rem;
  color: #213448;
}

.dashboard-header p {
  font-size: 1rem;
  margin-top: 0.3rem;
  color: #213448;
}

.user-card {
  display: flex;
  align-items: center;
  background-color: #ecefca;
  padding: 1.5rem;
  border-radius: 15px;
  margin: 1.5rem 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  font-size: 3rem;
  margin-right: 1.5rem;
}

.user-info h2 {
  margin: 0;
}

.user-info p {
  margin: 0;
  color: #3575a0;
}

.summary-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.summary-card {
  background-color: #ecefca;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.big-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.section-title {
  color: #213448;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.actions-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.action-card {
  background-color: #ecefca;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-card h3 {
  margin-bottom: 0.5rem;
}

.action-card button {
  background-color: #547792;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 16px;
}

.action-card button:hover {
  background-color: #1f2a3b;
}
