@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


.content-container {
  background-color: #F0F9FF;
  min-height: 100vh;
  padding: 20px;
  width: 100vw;
  max-width: 100%;
  margin: var(--high-button) 0 var(--broad-button) 0; /* Usando las variables para los márgenes */
  flex: 1;
  box-sizing: border-box;
}

section {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: var(--high-button);
  box-sizing: border-box;
}

.event-description {
  height: 400px;
  background-color: #F0F9FF;
  padding: var(--high-button);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black; /* Color negro por defecto */
}

.event-description.active {
  background-color: #F0F9FF;
}

.event-description h2,
.event-description p {
  color: black; /* Color negro por defecto */
}

.event-description.active h2,
.event-description.active p {
  color: white; /* Cambia a blanco cuando .event-description es activa */
}

.start-adventure {
  font-size: var(--h6-siz); /* Usando la variable de tamaño de fuente */
  width: 337px;
  height: 52px;
  background-color: #F0F9FF;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: var(--high-button);
  border: none;
  font-family: 'Inter',sans-serif;
  
}

.start-adventure:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
  font-family: 'Inter',sans-serif;

}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: var(--high-button);
  margin-top: 30px;
  
  width: 100%;
  flex-wrap: wrap;
}

.action-button {
  padding: var(--high-button) var(--broad-button);
  border: none;
  border-radius: 8px;
  font-size: var(--h6-size); /* Usando la variable de tamaño de fuente */
  font-weight: lighter;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 220px;
}

.start-button {
  background-color: #4CAF50;
  color: white;
}

.start-button:hover {
  background-color: #3e8e41;
  transform: translateY(-2px);
}

.continue-button {
  background-color: #2196F3;
  color: white;
}

.continue-button:hover {
  background-color: #0b7dda;
  transform: translateY(-2px);
}

.areas-competence {
  min-height: 980px;
  background-color: #F0F9FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--high-button) var(--broad-button);
}

.areas-competence h2 {
  font-size: var(--h2-size);
  color: #333;
  margin-bottom: var(--high-button);
  margin-top: 60px; /* Añadido margen superior */
}

.competence-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 3rem;
}

.category-card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
.category-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.category-card h3 {
  color: var(--primary-color);
  font-size: var(--h3-size);
  margin-bottom: 0.5rem;

}
.category-card p {
  font-size: var(--pM-size);
  color: #666;
  line-height: 1.5;
  font-weight: 300;

}
.competence-rules {
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: var(--high-button);
  border-radius: 12px;
  margin-top: var(--high-button);
}

.competence-rules h3 {
  color: var(--primary-color); /* Usando el color primario */
  font-size: var(--h4-size); /* Usando la variable de tamaño de fuente */
  margin-bottom: 1.5rem;
  text-align: center;
}

.rules-section {
  margin-bottom: var(--high-button);
  max-width: 800px;
}

.rules-section h4 {
  color: #2c3e50;
  font-size: var(--h5-size); /* Usando la variable de tamaño de fuente */
  margin-bottom: 1rem;
}

.rules-list {
  list-style-type: none;
  padding-left: 1.5rem;
}

.rules-list li {
  margin-bottom: 0.8rem;
  position: relative;
  color: #555;
}

.rules-list li:before {
  content: "•";
  color: var(--primary-color); /* Usando el color primario */
  font-weight: bold;
  position: absolute;
  left: -1rem;
}

.registration-process {
  min-height: 293px;
  background-color: #F0F9FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--high-button) var(--broad-button);
  font-family: 'Inter',sans-serif;
}

.registration-process h2 {
  font-size: var(--h2-size); 
  color: #333;
  margin-bottom: var(--high-button);
  text-align: center;
  font-weight: 700;
}
.registration-process p{
  font-weight: 300;
}
.process-steps-horizontal {
  display: flex;
  margin-bottom: 40px; 
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

.step-horizontal {
  flex: 1;
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 250px;
}
.step-horizontal {
  transition: transform 0.2s, box-shadow 0.2s;
}

.step-horizontal:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.step-number {
  background-color: var(--primary-color); /* Usando el color primario */
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: var(--high-button);
}

.step-content h3 {
  color: var(--primary-color); /* Usando el color primario */
  font-size: var(--h5-size); /* Usando la variable de tamaño de fuente */
  margin-bottom: var(--high-button);
}

.step-content p {
  color: #555;
  font-size: var(--pM-size); /* Usando la variable de tamaño de fuente */
  line-height: 1.5;
}

.how-to-register {
  min-height: 771px;
  background-color: #F0F9FF;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--high-button) var(--broad-button);
  font-family: 'Inter', sans-serif;
}

.how-to-register h2 {
  font-size: var(--h2-size); /* Usando la variable de tamaño de fuente */
  color: #333;
  margin-bottom: var(--high-button);
  text-align: center;
  font-weight: 700;
}

.tutorial-section {
  background-color: white;
  padding: var(--high-button);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.tutorial-section h3 {
  color: var(--primary-color); /* Usando el color primario */
  font-size: var(--h4-size); /* Usando la variable de tamaño de fuente */
  margin-bottom: 1rem;
}

.tutorial-section p {
  color: #555;
  font-size: var(--pM-size); /* Usando la variable de tamaño de fuente */
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.video-placeholder {
  width: 100%;
  height: 450px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #666;
  font-size: var(--pM-size); /* Usando la variable de tamaño de fuente */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .event-description h2 {
    font-size: var(--h2-size); /* Usando la variable de tamaño de fuente */
  }
  
  .event-description p {
    font-size: var(--pM-size); /* Usando la variable de tamaño de fuente */
  }
  
  .competence-grid {
    grid-template-columns: 1fr;
  }

  .process-steps-horizontal {
    flex-direction: column;
  }

  .step-horizontal {
    width: 100%;
  }

  .video-placeholder {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .action-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .action-button {
    width: 100%;
  }

  .event-description h2 {
    font-size: var(--h3-size); 
  }
  
  .event-description p {
    font-size: var(--pS-size); 
  }
}