.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--azul-oscuro);
  color: white;
  /* padding: 2rem; */
  flex-wrap: wrap;
}

.footer-column {
  flex: 1 1 30%;
  margin: 1rem;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer-column p {
  margin: 0.2rem 0;
}

.social-icons a {
  color: white;
  font-size: 1.4rem;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffcc00;
}