.container-list-registered {
  background-color: #fff;
  color: #000;
  max-width: 1140px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #00000014;
  padding: 30px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-inscription-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-list {
  border: 1px solid #0000004d;
  overflow: auto;
  max-height: 500px;
}

.btn-add-student {
  width: 170px;
}

.btn-generar-boleta {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-add-student-container {
  display: flex;
}

.btn-add-student-disabled {
  background-color: #0000004d;
  color: #fff;
  cursor: not-allowed;
}

.btn-add-student-disabled:hover {
  background-color: #0000004d;
}

.btn-generate-payment {
  width: 200px;
  margin: auto;
}
