.container-form-inputs {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 900px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #00000014;
  padding: 30px;
  column-gap: 20px;
}

.input-1c {
  grid-column: span 1;
}

.input-2c {
  grid-column: span 2;
}

.container-btn-next {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-end;
}

.container-btn-next button {
  background-color: var(--tertiary-color);
}

.btn-back {
  font-size: 50px;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.container-btn-back-responsible {
  display: flex;
  justify-content: flex-end;
}
