.container-cards-choose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.title-information {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title-information h2 {
  color: var(--texto-azul);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 28px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.title-information h2::after {
  content: '';
  width: 100px;
  height: 3px;
  background-color: var(--azul-claro, #007bff);
  display: block;
  margin: 8px auto 0;
  border-radius: 2px;
} 
@media (max-width: 600px) {
  .title-information {
    max-width: 70%;
  }
}
